.zoomer-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    border-radius: 8px;
    margin: 10px;
}
.zoomer-wrapper.left {
    left: 0;
}
.zoomer-wrapper.right {
    right: 0;
}
.zoomer-wrapper.top {
    top: 0;
}
.zoomer-wrapper.bottom {
    bottom: 0;
}

.zoomer-button {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 8px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.zoomer-button:hover {
    background-color: #d1d0d0;
}

.zoomer-plus-button {
    border-radius: 8px 8px 0 0;
}

.zoomer-minus-button {
    border-radius: 0 0 8px 8px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}